<!DOCTYPE html>
<html>
<head>
	<title>services</title>
	<link rel="stylesheet" type="text/css" href="services.css">
</head>
<body>
    <div class="x">
    	<h1>The Second Heading is <span>Pretty Cool Too.</span></h1>
    	<p>Donec Ullamcoper nulla non metus auctor fringilla. Vestibulum id liguna porta felis</p>
        <p>euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    	<p>Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <img src="https://www.sitcitecnologia.com/2559-home_default/kit-teclado-y-mouse-microsoft-600-apb-00004-espa%C3%B1ol-usb-antiderrame.jpg">
</body>
</html>
