body {
	width: 1000px;
	position: absolute;
	margin-left: 23%;
	margin-right: 20%;
}
span {
	color: gray;
}
div {;
	display: inline-block;
	width: 60%;
	margin-top: 40px;
	margin-bottom: 40px;

}
img {
	float: left;
	width: 200px;
	margin: 50px;
	border-radius: 50%;
	border: 3px solid black;
}
