<!-- Added services page because there wasn't one here already -Steven -->
<div class="Services container-fluid d-flex justify-content-around bg-light rounded p-3">
    <img class="img-fluid rounded-circle w-25 p-5"
        src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/master/website/assets/img/2.jpg">
    <div class="textbox p-5">

        <h1>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span>
        </h1>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id tenetur et non aspernatur voluptas pariatur qui
            magnam ratione sint laboriosam ipsam nemo perspiciatis earum provident, tempore rerum! Ea, iure fugit. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, dignissimos qui, dicta provident laborum nemo
            aperiam ratione temporibus cupiditate tempora iste vero quisquam explicabo repudiandae atque aut totam
            laboriosam. Quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi facere illo
            aspernatur reiciendis esse architecto, autem reprehenderit asperiores aliquam veritatis quae optio ab neque
            facilis hic temporibus voluptate? Eaque.</p>
    </div>
</div>